.con4 {
    width: 300px;
    height: auto;
    overflow: hidden;
    color: #FFFFFF;
    margin: 0 500px 20px 0;
}

.con4 .btn {
    width: 202px;
    height: 40px;
    line-height: 25px;
    text-align: center;
    background: #337ab6;
    display: block;
    font-size: 16px;
    position: center;
}

.upload {
    float: left;
    position: relative;
}

.upload_pic {
    display: block;
    width: 100%;
    height: 285px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 5px;
}

#cvs {
    border: 1px solid #000;
    margin: 20px 0 20px 0;
}